@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --notification: #58A6FF;
    --github-dark: #010409;
    --github-dark-lighter: #0D1117;
    --github-dark-border: #30363D;
    --github-button-hover: #8B949E;
    --background: #171B20;
    --color: #828B94;
    --github: #C9D1D9;
    --navigation-hover: #292F36;
    --navbar-height: 60px;

    --white: #FCFCFC;
}

html, body {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    font-size: 16px;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu__wrapper {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 2;
    gap: 24px;
    background-color: var(
            --github-dark
    );
    height: var(--navbar-height);
    padding: 0px 16px;
    border-bottom: 1px solid var(--github-dark-border);
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page__title {
    color: var(--github);
    padding: 8px 12px;
    align-items: center;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
}

.page__title:hover {
    background-color: var(--background);
}

.notification-mark {
    width: 8px;
    height: 8px;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--notification);
}

@media (max-width: 400px) {
    .page__title {
        display: none;
    }
}

.logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.logo svg {
    fill: var(--github);
}

.action-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
    align-items: center;
    flex-wrap: nowrap;
}

.action-button {
    position: relative;
    display: grid;
    grid-auto-columns: max-content;
    width: 32px;
    height: 32px;
    color: var(--github-dark-lighter);
    background: transparent;
    border: 1px solid var(--github-dark-border);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-button:hover {
    background: var(--github-dark-lighter);
    border: 1px solid var(--github);
}

.action-button svg {
    fill: var(--github-button-hover);
}

.avatar-profile {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: 1px solid var(--github-dark-border);
    object-fit: cover;
    border-radius: 50%;
}

.navigation__menu {
    background-color: var(
            --background
    );
    z-index: 3;
    border-left: 1px solid var(--github-dark-border);
    height: 100vh;
    opacity: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px;
    right: 0;
    position: fixed;
    box-shadow:
            rgba(100, 100, 111, 0.2)
            0px 7px 29px 0px;
    animation: fadeInAnimation
    ease-in-out 0.5s forwards;
}

.navigation__menu__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    margin: 0px;
    margin-top: 16px;
    padding: 0px;
    color: var(--github-button-hover);
}

.navigation__menu__items > li {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    color: var(--color);
    padding: 0px 8px;
}

.navigation__menu__items > li:hover {
    background-color: var(--navigation-hover);
    color: var(--github);
}

.navigation__menu__items > li > svg {
    fill: var(--github);
}

.navigation__menu__items > .separator {
    display: flex;
    align-items: center;
    height: 6px;
    padding: 0px;
}

.navigation__menu__items > .separator:hover  {
    background-color: var(--background);
}

.navigation__menu__items > .separator > hr {
    border: 1px solid var(--github-dark-border);
    width: 100%;
}

.avatar-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.avatar-wrapper .avatar-profile {
    width: 42px;
    height: 42px;
}

.avatar-name-wrapper {
    display: flex;
    flex-direction: column;
}

.avatar-name-alias {
    color: var(--github);
    font-weight: 600;
}

.avatar-name {
    color: var(--color);
    font-size: 12px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: auto;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.close-button:hover {
    background-color: var(--navigation-hover);
}

.close-button svg {
    height: 16px;
    width: 16px;
    fill: var(--github);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        max-width: 0px;
    }
    100% {
        opacity: 1;
        visibility: visible;
        max-width: 320px;
    }
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        max-width: 320px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        max-width: 0px;
        visibility: hidden;
    }

}
button {
    all: unset;
}

a {
    all: unset;
}
div > h3 {
    font-family:"Poppins", sans-serif;
    position:relative;
    margin-bottom:20px;
    text-transform:uppercase;
    color: white;
    left: 5%;

}

.underline:before {
    position:absolute;
    bottom:0;
    left:0;
    content:"";
    height:4px;
    width:210px;
    background-color:#58A6FF;
}
.underline > a {
    cursor: pointer;
}


.home {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url(/images/background.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;

}
.home-index {
    opacity: 1;
    background: #121a29;
    background-size: cover;

}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 8px;
    background-color: var(
            --github-dark);
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: end;
    height: 42px;
}

.navigation > li > button > svg {
    stroke: var(--white);
    fill: var(--white);
    color: var(--white);
    margin-top: -2px;
    transition: all 0.2s ease-in-out;
}

.navigation > li > a {
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
}

.navigation > li > button {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    gap: 4px;
    opacity: 1;
    align-items: center;
    font-size: 14px;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 3px 0;
    position: relative;
    transition: all 0.2s
    ease-in-out;
}

nav > div > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    align-items: center;
    font-size: 14px;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 3px 0;
    position: relative;
    transition: all 0.2s
    ease-in-out;
}

.navigation > li > button:hover,
.navigation > li > a:hover {
    opacity: 0.75;
}

.navigation > li > button:hover > svg {
    opacity: 0.75;
    margin-top: 0px;
}
.dropdown {
    position: absolute;
    top: 42px;
    min-width: 150px;
    border-radius: 8px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 5px 30px
    rgba(27, 31, 35, 0.1),
    0 0 1px rgba(27, 31, 35, 0.4),
    0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

.dropdown h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.navigation > li:hover .dropdown {
    display: flex;
    opacity: 1;
}
.list-items-with-description {
    list-style-type: none;
}

.list-items-with-description li {
    display: flex;
    padding: 4px;
    gap: 16px;
    width: 100%;
}

.list-items-with-description li:hover {
    color: var(--primary);
}

.list-items-with-description li svg {
    margin-top: 4px;
    width: 16px;
    height: 16px;
}

.list-items-with-description li:hover svg {
    stroke: var(--primary);
}
.item-title h3 {
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: none;
}

.item-title p {
    font-size: 12px;
}

html {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.mainSwiper {
    width: 100%;
    height: 80%
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide h2 {
    position: absolute;
    color: white;
    z-index: 10;
    left: 50%;
    top: calc(50%);
    font-size: 1.1rem;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    margin: 0 0 20px 20px;
}

.swiper-slide h2 a {
    cursor: pointer;
}

.text-cursor {
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 200px;
}
.swiper-button-next, .swiper-button-prev {
    top: 40%;
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 200px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper {
    width: 90%;
    height: 35%
}



body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: 'Arvo', monospace;

    @supports(display: grid) {
        display: block;
    }
}

.message {
    border: 1px solid #d2d0d0;
    padding: 2em;
    font-size: 1.7vw;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);

    @supports(display: grid) {
        display: none;
    }
}

.section {
    display: none;
    padding: 2rem;
    color: white;
    @media screen and (min-width: 768px) {
        padding: 4rem;
    }

    @supports(display: grid) {
        display: block;
    }
}

h1 {
    font-size: 2rem;
    margin: 0 0 1.5em;
}

.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: row dense;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    box-sizing: border-box;
    /*background: #0c9a9a;*/
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    /*color: #fff;*/
    background-size: cover;
    background-position: center;
    box-shadow: -2px 2px 10px 0px rgba(4, 4,4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
    grid-row-end: span 2;


    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover {
        transform: scale(1.05);

        &:after {
            opacity: 0;
        }
    }

    &--medium {
        grid-row-end: span 2;
    }

    &--large {
        grid-row-end: span 3;
    }

    &--full {
        grid-column-end: auto;

        @media screen and (min-width: 768px) {
            grid-column: 1/-1;
            grid-row-end: span 2;
        }
    }

    &__details {
        position: relative;
        z-index: 1;
        padding: 15px;
        color: #444;
        background: #fff;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #828282;

        &:before {
            content: counter(item-counter);
            font-weight: bold;
            font-size: 1.1rem;
            padding-right: 0.5em;
            color: #444;
        }
    }
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    width: 100%;
}
.add-game-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: #261E5A;
    border: 1px solid #DD946F;
    border-radius: 16px;
    box-shadow: 0 20px 60px #9265CA80;
    min-width: 280px;
    max-width: 540px;
    width: 100%;
    padding: 32px;
    color: white;
}

.add-game-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.add-game-new {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.text-field input {
    color: #EFD0F8;
    font-size: 16px;
    font-weight: 500;
    max-width: 85%;
    width: 100%;
    border: 1px solid #EFD0F8;
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}
.add-game-button {
    background-color: #DD946F;
    color: #261E5A;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.add-game-action {
    display: flex;
    flex-direction: column;
    color:  #EFD0F8;
    gap: 16px;
    margin-top: 8px;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Comfortaa', cursive;*/
}

.game-detail-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121a29;
    min-height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.28) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: min(900px, 100%);
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0 35px;
    text-align: justify;
}

.info p{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.game-title {
    background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.btn {
    display: block;
    padding: 10px 40px;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #784ba0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%, 100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

/* SWIPER */

.game-detail-swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
}

.swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.swiper-slide span {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 18px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2), inset -3px 3px 3px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(74px);
}

/*.swiper-slide h2 {*/
/*    position: absolute;*/
/*    !*bottom: 0;*!*/
/*    !*left: 0;*!*/
/*    !*color: #fff;*!*/
/*    !*font-weight: 400;*!*/
/*    font-size: 1.1rem;*/
/*    line-height: 1.4;*/
/*    margin: 0 0 20px 20px;*/
/*}*/

.swiper-slide:nth-child(1n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400)
    no-repeat 50% 50% / cover;
}

/* ANIMATED BACKGROUND */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/** {*/
/*    box-sizing: border-box;*/
/*    outline: 0;*/
/*    transition: all 0.3s ease;*/
/*}*/

.review {
    /*margin: 0;*/
    /*margin-top: 60px;*/
    padding: 0;
    /*font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;*/
    line-height: 1.68em;
    color: #333333;
    background: #121a29;
}

blockquote {
    padding: 0;
    margin: 0;
}

section.t-bq-section {
    padding: 15px;
    margin-bottom: 0;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
    max-width: 576px;
    margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
    max-width: 100%;
}








/* ========== 05. Paul ========== */

.t-bq-quote-paul {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    box-shadow: 2px 2px 25px #cecece;
    border-radius: 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-pattern {
    flex-basis: 80px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
    border-radius: 10px 0 0 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-base {
    flex-basis: calc(100% - 80px);
    background: #ffffff;
    padding: 40px 30px 50px 80px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 10px 10px 0;
}

.t-bq-quote-paul .t-bq-quote-paul-qmark {
    position: absolute;
    top: 50px;
    left: 105px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 42pt;
    color: #999999;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-paul .t-bq-quote-paul-userpic {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 70px;
    height: 70px;
    /*background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;*/
    background-size: cover;
    border-radius: 50%;
}

.t-bq-quote-paul .t-bq-quote-paul-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author,
.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    color: #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author cite {
    font-style: normal;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    font-size: 9pt;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-paul .t-bq-quote-paul-pattern {
        flex-basis: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-base {
        flex-basis: calc(100% - 20px);
        padding: 100px 30px 50px 30px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-userpic {
        width: 50px;
        height: 50px;
        left: 40px;
        top: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-qmark {
        left: 100px;
        top: 45px;
    }
}









/* ========== 06. Jasper ========== */

.t-bq-quote-jasper {
    position: relative;
    box-shadow: 2px 2px 25px #cecece;
    border-radius: 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    /*background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;*/
    border-radius: 10px 10px 0 0;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern .t-bq-quote-jasper-qmark {
    flex-basis: 100px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 60pt;
    color: #999999;
    text-align: center;
    height: 80px;
    line-height: 90pt;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-jasper .t-bq-quote-jasper-userpic {
    position: absolute;
    top: 45px;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    /*background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;*/
    background-size: cover;
    border-radius: 50%;
}

.t-bq-quote-jasper .t-bq-quote-jasper-base {
    background: #ffffff;
    padding: 60px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 0 10px 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted #777777;
    text-align: center;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author,
.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    color: #777777;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author cite {
    font-style: normal;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    font-size: 9pt;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-jasper .t-bq-quote-jasper-base {
        padding-left: 30px;
    }
}








/* ========== 07. Horace ========== */

.t-bq-quote-horace {
    position: relative;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px #cecece;
}

.t-bq-quote-horace .t-bq-quote-horace-base {
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
    color: #ffffff;
    font-weight: bold;
    padding: 60px;
    border-radius: 10px;
}

.t-bq-quote-horace .t-bq-quote-horace-meta {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px dotted #ffffff;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-author cite {
    font-style: normal;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-source {
    font-size: 10pt;
}

.t-bq-quote-horace .t-bq-quote-horace-qmark {
    position: absolute;
    top: 140px;
    right: 5px;
    font-size: 280pt;
    color: #ffffff;
    opacity: 0.17;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-horace .t-bq-quote-horace-userpic {
    width: 70px;
    height: 70px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-horace .t-bq-quote-horace-base {
        padding-left: 40px;
        padding-right: 40px;
    }

    .t-bq-quote-horace .t-bq-quote-horace-meta {
        flex-direction: column;
        text-align: center;
    }

    .t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-userpic {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.add-review {
    margin: -22px;
}
.add-review-button {
    color: #261E5A;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.delete-review-button {
    border: none;
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}
.centering-company-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}
.centering-user-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    width: 100%;
}