<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>

<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="centering-company-add">
  <form class="add-game-form"
        th:method="post"
        th:action="@{/game/gallery/{id}(id = ${gameDTO.id})}" enctype="multipart/form-data"
        th:object="${gameDTO}">
    <div class="add-game-row">
      <img
              class="add-game-new"
              src="/images/logo.png"
              alt="Login"
      >
      <h1>Add Artwork or screenshot!</h1>
    </div>
    <div class="text-field">
      <label for="artwork">Game cover:</label>
      <input
              th:object="${addArtwork}"
              th:field="*{artwork}"
              th:errorclass="is-invalid"
              aria-label="artwork"
              type="file"
              id="artwork"
              name="artwork"
              placeholder="Game cover"
      >
    </div>
    <input type="submit" class="add-game-button" value="Add" >
    <div class="add-game-action">
    </div>
  </form>
</div>
<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>