<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>

<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<section class="section">
    <h1>Top 100</h1>
    <div class="grid" >
        <div th:each="game : ${topRatedGames}">
            <a class="item" th:href="@{/game/{id}(id = ${game.id})}">
            <img th:src="${game.getImg_Url()}">
            <div class="item__details item--medium" >
                <th:block th:text="${game.getTitle()}"></th:block>
                <br>
                <br>
                <th:block th:text="'Rating: ' + ${game.getRating()}"></th:block>
                <br>
                <br>
                <th:block th:text="${game.getDescription()}"></th:block>
            </div>
            </a>
        </div>

    </div>
</section>
<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>