<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>



<section class="game-detail-section">
    <div class="content"


            th:object="${gameDTO}">
        <div class="info">
            <h3 class="game-title" th:text="*{title}"></h3>
            <p th:text="*{description}"></p>
            <button class="btn">Gallery</button>
            <form th:method="post"
                  th:action="@{/game/{id}/add-to-favorites(id = ${gameDTO.id})}">
            <button class="btn" th:if="${isInFavorites == false}" >Add to Favorites</button>
            </form>
            <form th:method="post"
                  th:action="@{/game/{id}/remove-from-favorites(id = ${gameDTO.id})}">
                <button class="btn" th:if="${isInFavorites == true}" >Remove from Favorites</button>
            </form>
            <form th:method="post"
                  th:action="@{/game/{id}/add-on-focus(id = ${gameDTO.id})}">
                <button  class="btn" sec:authorize="hasAuthority('ADMIN')" th:if="${isOnFocus == false}" >Add on Focus</button>
            </form>
            <form th:method="post"
                  th:action="@{/game/{id}/remove-from-focus(id = ${gameDTO.id})}">
                <button  class="btn" sec:authorize="hasAuthority('ADMIN')" th:if="${isOnFocus == true}" >Remove from Focus</button>
            </form>
        </div>
        <div class="game-detail-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img th:src="*{imgUrl}">
                    <span th:text="*{rating}"></span>
                </div>


            </div>
        </div>

    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

<section class="t-bq-section review" th:each="review : ${reviews}">
    <div class="t-bq-wrapper t-bq-wrapper-boxed">
        <div class="t-bq-quote t-bq-quote-paul">
            <div class="t-bq-quote-paul-userpic">
            </div>
            <div class="t-bq-quote-paul-qmark">
                &#10077;
            </div>
            <div class="t-bq-quote-paul-pattern">
            </div>
            <div class="t-bq-quote-paul-base">
                <blockquote class="t-bq-quote-paul-text" th:text="*{review.review}">

                </blockquote>
                <div class="t-bq-quote-paul-meta">
                    <div class="t-bq-quote-paul-meta-info">
                        <div class="t-bq-quote-paul-author"><cite th:text="*{review.authorUsername}"></cite></div>
                        <div class="t-bq-quote-paul-source"><span th:text="*{review.created}"></span></div>
                    </div>
                </div>
                <form class="t-bq-quote-jasper-base" sec:authorize="hasAuthority('ADMIN')"
                      th:method="post"
                      th:action="@{/game/{id}/delete-review/{reviewId}/{reviewAuthor}(id = ${gameDTO.id}, reviewId = ${review.id}, reviewAuthor = ${review.authorUsername})}">


                    <input type="submit" class="delete-review-button" value="Delete" >

                </form>
            </div>
        </div>
    </div>
</section>

<section class="t-bq-section" id="jasper">
    <div class="t-bq-wrapper t-bq-wrapper-boxed">
        <div class="t-bq-quote t-bq-quote-jasper">
            <div class="t-bq-quote-jasper-pattern">
                <div class="t-bq-quote-jasper-qmark">
                    &#10077;
                </div>
            </div>
         <form class="t-bq-quote-jasper-base"
                    th:method="post"
                    th:action="@{/game/{id}/add-review(id = ${gameDTO.id})}">
            <textarea
                    aria-label="Review"
                    type="text"
                    rows="10"
                    cols="50"
                    id="review"
                    name="review"
                    placeholder="Review..."></textarea>

                <input type="submit" class="add-review-button" value="Post" >

         </form>
        </div>
    </div>
</section>

<script src="/js/swiper.js"></script>
<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>