<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>



<section class="game-detail-section">
    <div class="content"


            th:object="${gameDTO}">
        <div class="info">
            <h3 class="game-title" th:text="*{title}"></h3>
            <p th:text="*{description}"></p>
            <button class="btn">Gallery</button>
            <form th:method="post"
                  th:action="@{/game/{id}/add-to-favorites(id = ${gameDTO.id})}">
            <button class="btn" th:if="${isInFavorites == false}" >Add to Favorites</button>
            </form>
            <form th:method="post"
                  th:action="@{/game/{id}/remove-from-favorites(id = ${gameDTO.id})}">
                <button class="btn" th:if="${isInFavorites == true}" >Remove from Favorites</button>
            </form>
            <form th:method="post"
                  th:action="@{/game/{id}/add-on-focus(id = ${gameDTO.id})}">
                <button class="btn" >Add on Focus</button>
            </form>
        </div>
        <div class="game-detail-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img th:src="*{imgUrl}">
                    <span th:text="*{rating}"></span>
                </div>


            </div>
        </div>

    </div>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>



<script src="/js/swiper.js"></script>

<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>