<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>
    <div class="mainSwiper topSwiper">
        <div class="swiper-wrapper ">
                <div class="swiper-slide" th:each="game : ${onFocusGames}">
                    <img th:src="${game.getImg_Url()}" alt="">
                    <h2><a th:href="@{/game/{id}(id = *{game.id})}" th:text="${game.getTitle()}"></a></h2>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
        </div>
    </div>

<th:block sec:authorize="isAuthenticated()" th:if="${favoriteGames.size() > 0}" >
<div sec:authorize="isAuthenticated()"><h3 class="underline"><a href="/game/favorites">Favorite Games</a></h3 ></div>

<div sec:authorize="isAuthenticated()" class="swiper bottomSwiper">
    <div class="swiper-wrapper" >
        <div class="swiper-slide" th:each="game : ${favoriteGames}" th:object="${favoriteGames}">
            <img th:src="${game.getImg_Url()}"> <a th:href="@{/game/{id}(id = ${game.id})}"><h2 class="text-cursor" th:text="${game.getTitle()}"></h2></a></div>
    </div>
</div>
</th:block>

<th:block sec:authorize="isAuthenticated()" th:if="${topRatedGames.size() > 0}" >
<div sec:authorize="isAuthenticated()"><h3 class="underline"><a href="/game/top-rated">Top Rated</a></h3 ></div>

<div sec:authorize="isAuthenticated()" class="swiper bottomSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="game : ${topRatedGames}" th:object="${topRatedGames}">
            <img th:src="${game.getImg_Url()}"><a th:href="@{/game/{id}(id = ${game.id})}"><h2 class="text-cursor" th:text="${game.getTitle()}"></h2></a></div>
    </div>
</div>
</th:block>

<th:block sec:authorize="isAuthenticated()" th:if="${upcomingGames.size() > 0}">
<div sec:authorize="isAuthenticated()"><h3 class="underline"><a href="/game/coming-soon">Coming Soon</a></h3 ></div>

<div sec:authorize="isAuthenticated()" class="swiper bottomSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="game : ${upcomingGames}" th:object="${upcomingGames}">
            <img th:src="${game.getImg_Url()}"><a th:href="@{/game/{id}(id = ${game.id})}"><h2 class="text-cursor" th:text="${game.getTitle()}"></h2></a></div>
    </div>
</div>
</th:block>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>


<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>