<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>IGDB</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap"
            rel="stylesheet"
    >
</head>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>
    <div class="mainSwiper topSwiper">
        <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <img src='/images/maingames/spider-man.jpg' alt="Marvel's Spider-Man 2">
                    <h2><a href="/">Marvel's Spider-Man 2</a></h2>
                </div>
                <div class="swiper-slide">
                    <img src='/images/maingames/forza.jpg' alt="Forza Motorsport">
                    <h2><a href="/">Forza Motorsport</a></h2>
                </div>
                <div class="swiper-slide">
                    <img src='/images/maingames/mirage.jpg' alt="Assassin's Creed Mirage">
                    <h2><a href="/">Assassin's Creed Mirage</a></h2>
                </div>
                <div class="swiper-slide">
                    <img src='/images/maingames/cyberpunk.jpg' alt="Cyberpunk 2077: Phantom Liberty">
                    <h2><a href="/">Cyberpunk 2077: Phantom Liberty</a></h2>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
        </div>
    </div>

<th:block sec:authorize="isAuthenticated()" th:if="${favoriteGames.size() > 0}" >
<div sec:authorize="isAuthenticated()"><h3 class="underline"><a href="/">Favorite Games</a></h3 ></div>

<div sec:authorize="isAuthenticated()" class="swiper bottomSwiper">
    <div class="swiper-wrapper" >
        <div class="swiper-slide" th:each="game : ${favoriteGames}" th:object="${favoriteGames}">
            <img th:src="${game.getImg_Url()}"><h2 class="text-cursor"><a href="/" th:text="${game.getTitle()}"></a></h2></div>
    </div>
</div>
</th:block>

<th:block sec:authorize="isAuthenticated()" th:if="${topRatedGames.size() > 0}" >
<div sec:authorize="isAuthenticated()"><h3 class="underline"><a href="/">Top Rated</a></h3 ></div>

<div sec:authorize="isAuthenticated()" class="swiper bottomSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="game : ${topRatedGames}">
            <img th:src="${game.getImg_Url()}"><h2 class="text-cursor"><a href="/" th:text="${game.getTitle()}"></a></h2></div>
    </div>
</div>
</th:block>

<div><h3 class="underline"><a href="/">Coming Soon</a></h3 ></div>

<div class="swiper bottomSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src='/images/assets/wooden-bridge.jpg'><h2 class="text-cursor"><a href="/"> Slide 1</a></h2></div>
        <div class="swiper-slide"><img src='/images/assets/forest.jpg'><h2>Slide 1</h2></div>
        <div class="swiper-slide"><img src='/images/assets/lavender-field.jpg'><h2>Slide 1</h2></div>
        <div class="swiper-slide"><img src='/images/assets/snow-scenery.jpg'><h2>Slide 1</h2></div>
        <div class="swiper-slide"><h2>Slide 1</h2></div>
        <div class="swiper-slide"><h2>Slide 1</h2></div>
        <div class="swiper-slide"><h2>Slide 1</h2></div>
        <div class="swiper-slide"><h2>Slide 1</h2></div>
        <div class="swiper-slide"><h2>Slide 1</h2></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>


<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>