<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<div class="centering" >
  <div class="add-game-form"
        >
    <div class="add-game-row">
      <img
              class="add-game-new"
              src="/images/logo.png"
              alt="Login"
      >
      <h1>Edit Roles!</h1>
    </div>


    <form th:method="post"
          th:action="@{/roles/edit/admin}">
      <label for="username" >Admin:</label>
      <select multiple th:class="chosen-select"

              id="username"
              name="username"
              aria-describedby="categoryHelpInline">
        <option selected th:each="user : ${usernameUserRoleViews.entrySet()}"
               th:if="${user.value == 'ADMIN'}" th:value="${user.key}" th:text="${user.key}">
        </option>
        <option th:each="user : ${usernameUserRoleViews.entrySet()}"
                th:if="${user.value != 'ADMIN'}" th:value="${user.key}" th:text="${user.key}">
        </option>
      </select>

      <input type="submit" class="add-game-button" value="Edit" >
      <div class="add-game-action">
      </div>
    </form>


  </div>
</div>

<th:block th:insert="~{/fragments/footer}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script src="/js/chosen.js"></script>
</body>
</html>