<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/fragments/head}"/>
<body class="home-index">
<th:block th:insert="~{/fragments/header}"/>
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="centering-user-edit">
    <form class="add-game-form"
          th:method="post"
          th:action="@{/users/edit/{id}(id = ${editUserDTO.id})}"
          th:object="${editUserDTO}">

        <div class="add-game-row">
            <img
                    class="add-game-new"
                    src="/images/logo.png"
                    alt="Login"
            >
            <h1>Edit User!</h1>
        </div>
        <div class="text-field">
            <label for="username">Username:</label>
            <input
                    th:field="*{username}"
                    th:errorclass="is-invalid"
                    aria-label="Username"
                    type="text"
                    id="username"
                    name="username"
                    th:placeholder="*{username}"
                    required
            >

        </div>
        <small class="incorrect-data text-danger border-danger"
               th:each="err : ${#fields.errors('username')}"
               th:text="${err}"
        ></small>
        <div class="text-field">
            <label for="email">User Email:</label>
            <input
                    th:field="*{email}"
                    th:errorclass="is-invalid"
                    aria-label="Email"
                    type="text"
                    id="email"
                    name="email"
                    th:placeholder="*{email}"
                    required
            >

        </div>
        <small class="incorrect-data text-danger border-danger"
               th:each="err : ${#fields.errors('email')}"
               th:text="${err}"
        ></small>
        <div class="text-field">
            <label for="age">Enter new age:</label>
            <input
                    th:field="*{age}"
                    th:errorclass="is-invalid"
                    aria-label="Age"
                    type="text"
                    id="age"
                    name="age"
                    th:placeholder="*{age}"
                    required
            >

        </div>
        <small class="incorrect-data text-danger border-danger"
               th:each="err : ${#fields.errors('age')}"
               th:text="${err}"
        ></small>
        <div class="text-field">
            <label for="password">Enter new Password:</label>
            <input
                    th:errorclass="is-invalid"
                    id="password"
                    type="password"
                    aria-label="Password"
                    name="password"
                    placeholder="Your Password"
                    title="Minimum 6 characters at least 1 Alphabet and 1 Number"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                    required
            >

        </div>
        <small class="incorrect-data text-danger border-danger"
               th:each="err : ${#fields.errors('password')}"
               th:text="${err}"
        ></small>
        <div class="text-field">
            <label for="confirmPassword">Confirm Password:</label>
            <input
                    id="confirmPassword"
                    type="password"
                    aria-label="Confirm Password"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    title="Minimum 6 characters at least 1 Alphabet and 1 Number"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                    required
            >
        </div>
        <small th:if="${#fields.hasGlobalErrors()}" class="text-danger border-danger">Passwords do not match!</small>
        <input type="submit" class="add-game-button" value="Edit" >
        <div class="add-game-action">
        </div>
    </form>


</div>

<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>